<header class=" text-uppercase">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="http://techkids.vn/images/TechkidBrandColor.png" alt="Techkids OilFlow" height= "25vh"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">


    </ul>
    <ul class="navbar-nav">
      <li><a class="nav-link active" href="#">Trang chủ</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Code For Everyone</a>
          <a class="dropdown-item" href="#">Code For Teen</a>
          <a class="dropdown-item" href="#">Lập Trình Android</a>
          <a class="dropdown-item" href="#">Lập Trình React Native</a>
          <a class="dropdown-item" href="#">Lập Trình Web Fullstack</a>
          <a class="dropdown-item" href="#">Lập Trình Game</a>
        </div>
      </li>
      <li><a class="nav-link">Về Chúng Tôi</a></li>
      <li><a class="nav-link">Liên Hệ</a></li>
    </ul>

  </div>
</nav>
</header>
