<nav class="navbar navbar-override navbar-dark bg-dark navbar-fixed-top">
	<div class="container justify-content-end">
		<ul class="nav">
		  <li class="nav-item">
		    <a class="nav-link active" href="#">TRANG CHỦ</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">VỀ CHÚNG TÔI</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">TUYỂN DỤNG</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">LIÊN HỆ</a>
		  </li>
		</ul>
	</div>
	
	
</nav>