<div class="breadcrumbs">
        <section class="container">
          <div class="row">
            <div class="col-md-12">
              <h1>{{post.title}}</h1>
              <div class="clearfix"></div>
              <div class="crumbs"> 
                <a href="">Home</a>
                <span class="crumbs-span">/</span>
                <a href="">{% for cate in post.categories_list.all|slice:':1'%}{{cate}} {% endfor %}</a>
                <span class="crumbs-span">/</span>
                <span class="current">{{post.title}}</span>
              </div>
            </div>
          </div>
        </section>
      </div>