Django==2.0
django-ckeditor==5.4.0
django-jet==1.0.7
django-taggit==0.22.2
Jinja2==2.9.6
Pillow==4.2.1
requests==2.18.4
social-auth-app-django==2.1.0
virtualenv==15.1.0
virtualenvwrapper-win==1.2.5
youtube-dl==2017.12.31
psycopg2
dj-database-url
gunicorn
django-heroku
whitenoise
djangorestframework
markdown
django-filter
djongo