<header class="text-center mb-5">
    <div class='header-container mt-5'>
        <img class="" src="https://www.shareicon.net/data/128x128/2016/09/30/837686_animal_512x512.png" alt="">
        <h1 class="site-name" style="font-weight:900; letter-spacing: 4px;">Techkids Oil Overflow</h1>
        <h6 class="">By TechKids.vn</h6>
        <div class="page-desc mb-5">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, nobis placeat libero maiores aliquam quod architecto
                 ipsum cumque odit.</p>
        </div>
    </div>
    <form method="get">
        <div class="mx-auto pb-4" style="width:700px;">
            <input class="form-control" name='q' type="text" placeholder="Bạn muốn tìm gì">
        </div>
    </form>
    
</header>
