<div class="heading">
    <div class="container"> 
        <h1 class="text-center mb-4 text-light custom-search-h1" style="padding-top:12%">HAVE A QUESTION?</h1>
        <h5 class="text-center mb-5 text-light" ><i>If you have any question you can ask below or enter what you are looking for!</i></h5>
        <div class="col-md-12">
        <form class="input-group" style="padding-bottom:14%" method="GET">
            <input type="text" class="form-control form-control-lg search-input-fixed" placeholder="" name='q' value="{{request.GET.q}}">
            <button class="btn btn-danger btn-lg search-button-fixed" type="submit"><i>Search</i></button>
        </form>
        </div>
    </div>
</div>