<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% include "blog/partial/meta-data.html" %}
</head>
<body>
    {% include "blog/partial/nav.html" %}
    {% include "blog/detail/header.html" %}
    {% include "blog/detail/main.html" %}
    <!-- {% include "blog/detail/relate.html" %} -->
    {% include "blog/partial/footer.html" %}

</body>
</html>