/*STYLE FOR BODY BLOCK*/
body {
  width: 100%; height: 100%; 

}
/*END OF STYLE 4 BODY*/

/*STYLE FOR NAVBAR_TOP */

.navbar-fixed-top {
  letter-spacing: 1.3px;
  font-size: 0.6rem;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  padding: 0;
  font-weight: 700;
}
.nav-link {             /* nav-link style for navbar-top and header */
  color: #9d9d9d;
  padding-left: 1.4rem!important;
  padding-bottom:0.65rem;
  padding-top: 0.65rem;
  padding-right: 0rem!important;
}

.nav-link:hover {
  color: #fff;
}
/*END OF STYLE NAVBAR TOP*/

/*STYLE 4 HEADER WITH LOGO*/

.navbar-override {
  padding: 0.2rem!important;
}

.header-text-fix {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.header-text-fix .nav-item .nav-link {
  color: #000!important;
}

.header-text-fix .nav-item .nav-link:hover {
  color: #009cc6!important;
}

.dropdown-item {
  padding: 8px 25px;
}

.dropdown-item:hover {
  color: #fff;
  background-color: #00a7e1!important;
}

.dropdown-menu-override {
  padding: 0rem;
  border-radius: 0px;
}

/*END OF STYLE 4 HEADER*/

/* STYLE 4 IMAGE-SEARCH DIV IN HOMEPAGE */
.search-input-fixed {
  border-radius: 2px!important;
  margin-right: 15px; 
  box-shadow: 3px 6px rgba(0,0,0,.1);
}

.search-button-fixed {
  padding-left: 25px; 
  padding-right:25px;
  box-shadow: 3px 6px rgba(0,0,0,.1);
  border-radius: 2px;
  font-weight: 500;
}

.custom-search-h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Merriweather', serif;

}

/*END OF STYLE 4 IMAGE-SEARCH DIV*/

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #000;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #009cc6;
  color: white;
}

.tag:hover::after {
   border-left-color: #009cc6;
}


.heading{
  background-image: url("http://techkids.vn/images/Background.jpg");
}

.ulstats {
   color: #2f3239;
   font-size: 15px;
   font-weight: 600;
   background-color: #eaeaeb;
   margin-bottom: 10px;
   padding: 10px !important;
}

.ulsocials {
   color: #2f3239;
   font-size: 14px;
   font-weight: 600;
   /* height: 60px; */
   background-color: #eaeaeb;
   margin-bottom: 10px;
   padding: 15px !important;
}

.facebook-fans{
  background-color: #5d82d1;
}

.youtube-subscribers{
  background-color: #c4302b;
}

.tabs {
    overflow: hidden;
    position: relative;
    border-bottom: 2px solid #009cc6;

}
ol, ul, li {
    list-style: none;
}

.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #009cc6;
    border-color: #009cc6 #009cc6 #009cc6;
}

.ques-title{
  text-decoration: none;
  color: #000;
}
.ques-title:hover {
  text-decoration: none;
  color: #009cc6;
}


.nav-link-override {
  border: none;
  border-bottom: 2px solid #dedede;
  color: #868e96;
  padding: 1.2rem;
  font-size: 20px;
  word-spacing: 2.5px;
  letter-spacing: 0.7px;
}

.nav-pills .nav-link.active{
    color: #000;
    border-bottom: 2px solid #2055a3;
    background-color: transparent;
}

.nav-pills .nav-link{
  border-radius: 0px;
}

.breadcrumbs {
  background: url("http://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/images/darkgrain.png");
  border-bottom: 1px solid #dedde1;
  border-top: 1px solid #dedde1;
  margin-bottom: 70px;
}

.breadcrumbs .container {
    padding-top: 35px;
    padding-bottom: 35px;
    position: relative;
    z-index: 991;
}
.breadcrumbs .clearfix {
    display: none;
}
.crumbs {
    float: right;
    line-height: 24px;
    padding-top: 0px;
    font-size: 13px;
}
.crumbs-span {
    margin: 0 5px;
}

.breadcrumbs h1 {
    float: left;
    margin: 0;
    font-size: 19px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: #191919;
    text-transform: capitalize;
}

.crumbs a {
    color: #2055a3 !important;
}
.crumbs .current {
    color: #2f3239;
}

/*Style for content */
.container.main-content {
    position: relative;
    z-index: 991;
}
.with-sidebar-container {
    position: relative;
}
article.single-question {
    margin-bottom: 50px;
}
.single-question {
    /* padding: 0 0 20px 0; */
    margin-bottom: 10px;
}
.question {
    box-sizing: border-box;
    /*margin-bottom: 30px;*/
    /* padding: 10px; */
    border-bottom: 1px solid #dedede;
    background: #FFF;
    position: relative;
}

.question h2 {
    /*margin: 0 0 30px 101px;*/
    color: #474D5D;
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    /*padding-right: 161px;*/
}

.single-question .question-inner {
    padding: 0;
    margin-left: 0;
}

.single-question .question-date, .single-question .question-view {
    margin-bottom: 20px;
}

.question-date, .question-view {
  font-size: 13px;
  color: #777;
  margin: 0 20px 5px 0;
  float: left;
  display: block;
  text-transform: uppercase;
}

.single-question .question-desc {
    padding-bottom: 1px;
    color: #2f3239;
}

.question-desc, .question-desc p {
    color: #777;
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 15px;
}

/*Continue style for content, now is for answer content */
.single-question #commentlist {
    margin-bottom: 10px;
    padding: 0;
}

.page-content {
  overflow: hidden;
  box-sizing: border-box;
}

.thread-reply h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.commentlist {
    color: #777 !important;
    list-style: none;
    margin: 0;
    padding-right: 40px;
}
.single-question .commentlist > li:first-child {
    margin-top: 0;
}
.single-question .comment {
    margin: 0 0 50px 0;
    border-left: 2px solid #e5eaef;
    border-right: 2px solid #e5eaef;
}
.comment {
    margin: 0 -15px;
    background-clip: padding-box;
    background-color: #ffffff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1), 0 1px 8px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    padding: 20px;
    clear: both;
}
.single-question .comment-body {
    padding: 0;
}
.commentlist li .comment-text {
    overflow: hidden;
    position: relative;
}

.comment-author {
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

/*Style for stats */
.widget {
    background-color: #fff;
    box-shadow: 0 1px 2px #ccc;
    overflow: hidden;
    margin-bottom: 50px;
    position: relative;
    color: #2f3239;
    padding: 20px;
}
.sidebar h3.widget_title {
    padding: 16px !important;
    font-size: 15px;
    font-weight: 400;
    color: #191919!important;
    text-transform: capitalize;
    border-left: 3px solid #2055a3;
    border-right: 3px solid #2055a3;
    margin-left: -20px !important;
    margin-right: -20px !important;
    border-bottom: 1px solid #f3f3f3!important;
}

.widget h3.widget_title {
  margin: -20px 0 20px;
  font-size: 15px;
  font-weight: 600;
  padding: 20px 0 10px;
  border-bottom: 2px solid #dedede;
  position: relative;
}

.related-posts {
    padding: 0 !important;
    border: none;
    box-shadow: none;
}

.widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.widget ul li {
    position: relative;
    font-size: 14px;
    overflow: hidden;
    /* padding-bottom: 10px; */
}
.sidebar li {
    margin-bottom: 10px;
    /*padding-bottom: 10px;*/
    /* border-bottom: 1px solid #ecedee; */
}

.sidebar .widget ul li a {
    line-height: 18px !important;
    font-size: 13px !important;
    font-weight: 400;
    text-transform: capitalize;
    color: #191919;
}

.slidebar li a {
  transition: all 0.3s ease-in-out;
}
.widget:last-child {
    margin-bottom: 0;
}
.tagcloud a {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e2e2e2;
    display: inline-block;
    float: left;
    font-family: "Open Sans", sans-serif;
    /*font-size: 13px;*/
    font-weight: 500;
    line-height: 38px;
    margin: 0px 10px 8px 0px;
    padding: 0 17px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    
    color: #000!important;
}